body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 380px 20px 380px; 
}
.home{
    margin: 0;
    display: flex;
    position: right;
}
.home a{
    text-decoration: none;
}
.home p{
    color: black;
    margin: 0;
    margin-left: 20px;
    font-size: 18px;
}
.main{
    padding: 0px 380px 0px 380px; 
}
.text-up{
    text-align: center;
    font-size: 35px;
}
#content{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.block1{
    width: 366px;
    height: 346px;
    background-color: grey;
}
.block1 p{
    padding: 30px;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.block2{
    margin-left: 20px;
    width: 366px;
    height: 346px;
    background-color: orangered;
}
.block2 p{
    padding: 30px;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.block3{
    margin-left: 20px;
    width: 366px;
    height: 346px;
    background-color: grey;
}
.block3 p{
    padding: 30px;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.block4{
    margin: 20px 0 0 0;
    width: 366px;
    height: 346px;
    background-color: green;
}
.block4 p{
    padding: 30px;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.block5{
    margin: 20px 0 0 20px;
    width: 366px;
    height: 346px;
    background-color: rgb(175, 171, 171);
}
.block5 p{
    padding: 30px;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.block6{
    margin:20px 0 0 20px;
    width: 366px;
    height: 346px;
    background-color: aqua;
}
.block6 p{
    padding: 30px;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.text-up p{
    text-decoration: none;
    margin: 0;
    padding: 0px 250px 0px 250px;
    font-size: 20px;
    text-align: center;
    word-spacing: 1px;
}
#image{
    margin-top: 30px;
    text-decoration: none;
}
#image a{
    color: black;
    text-decoration: underline;
}
footer{
    display: block;
    background-color: rgb(51, 51, 51);
    max-width: 1920px;
    height: 142px;
}
footer p{
    padding-top: 20px;
    color: white;
    margin: 49px 730px 49px 730px;
    text-align: center;
}
@media (max-width: 768px) {
    header{
        padding: 10px;
    }
}