.main{
    width: 400px;
    margin: 10px auto;
}
h1{
    text-align: center;
}

.sort{
    margin-top: 10px;
}

.strong{
    display: flex;
}

.order-table{
    border: 2px solid black;

}

.elements{
    border-right: 1px solid black;
}
